<div id="order-summary">
  <h5>YOUR ORDER</h5>
  <p>
    <span>Apple Watch Sport</span>
    <span>$ 580</span>
  </p>
  <p>
    <span>Modern Buckle</span>
    <span>$ 380</span>
  </p>
  <hr />
  <p>
    <span>Total purchases</span>
    <span>$ 960.00</span>
  </p>
  <p>
    <span>Estimated tax</span>
    <span>$ 0</span>
  </p>
  <hr />
  <p>
    <span>Total</span>
    <span>$ 960</span>
  </p>
</div>
