@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bacon-container {
  & div section {
    &:last-child {
      display: flex;
      flex-flow: row nowrap;

      gap: 0.5rem;
    }

    & > button {
      position: fixed;

      left: 50%;
      transform: translate(-50%, -200%) scale(2);
    }

    & img {
      animation: fadeIn 300ms ease-in-out;
    }
  }
}
