@layout('layouts/main')
@set('title', 'Home page')

@section('body')
  @!component('components/order-form')
  @!component('components/order-summary')
  @!component('components/order-output')
  @!component('components/order-new-button')
@end
